{%  extends 'base.html.twig' %}

 {% block body %}


             <div class="jumbotron">

                         <h1 class="titre">Bienvenue sur le site de Glass'X!</h1>
                         </br>
                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porttitor elementum mi, ut dictum lacus pharetra et.
                             Sed dapibus, nibh ac suscipit volutpat, erat risus finibus est, vitae sollicitudin sem augue vitae est.
                             Maecenas ultricies non velit nec luctus. Curabitur ut posuere felis. Cras scelerisque ligula non dolor luctus vestibulum.
                             Sed in sapien posuere, fermentum dolor sit amet, ultricies nisl.
                             Cras ante sapien, facilisis sit amet dolor ut, scelerisque laoreet diam. Donec consequat, nibh id sagittis pretium,
                             ipsum nisi faucibus justo, nec molestie nibh magna vitae nisi. Praesent a imperdiet felis. Praesent ut ipsum semper,
                             scelerisque tortor ac, auctor turpis. Pellentesque pharetra est vitae feugiat vulputate. Nulla vel condimentum odio.
                         </p>

             </div>
     <div class="container">
         <div id="carousel" class="carousel slide" data-ride="carousel" >
             <ol class="carousel-indicators">
                 <li data-target="#1" data-slide-to="1" class="active"></li>
                 <li data-target="#2" data-slide-to="2"></li>
                 <li data-target="#3" data-slide-to="3"></li>
             </ol>
             <div class="carousel-inner">
                 <div  class="carousel-item active">
                     <img id="1" src="zèbre.jpg" class="d-block w-120" alt="...">
                 </div>
                 <div  class="carousel-item">
                     <img id="2" src="biarritz.jpg" class="d-block w-120" alt="...">
                 </div>
                 <div class="carousel-item">
                     <img  id="3" src="voile.jpg" class="d-block w-120" alt="...">
                 </div>
             </div>
         </div>
         <p style="text-align: center;">Les dernières toiles</p>
     </div>






 {% endblock %}
