{% extends 'base.html.twig' %}

{% block body %}


    <a class="btn btn-primary btn-lg btn-block" href="{{ path('admin.artworks.index') }}">Gérer les toiles</a>
    <a class="btn btn-secondary btn-lg btn-block" href="{{ path('admin.actu.index') }}">Gérer les événements</a>


{% endblock %}