{% extends 'base.html.twig' %}

{% block body %}
<div class="container mt-8">

    <div class="container mt-4">
        <h2>Editer une toile</h2>
        {{  include( 'admin/actus/_form.html.twig', {form: form, button: 'Editer'}) }}

    </div>
</div>-
{% endblock %}

